*{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
body,html{
    width: 100%;
    height: 100vh;
    background: #000;
}
#se01{
    width: 100%;
    height: 100vh;
}
.title{
    margin-top: 20%;
    /* text-align: center;
    font-size: 10px; */
    color: #fff;
    font-size: 90px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    animation: glitch 2s steps(100) infinite;
   
}
#se01 p{
  color: #fff;
  margin-top: 10%;
  text-align: center;
}

#se01 .detail{
  line-height: 30px;
  font-size: 15px;
}
#se01 .text{
  margin-top: 50px;
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  text-indent: 12px;
  animation: colorText 5s ease-out infinite,
             nudgeText 5s ease-out infinite;
}
#se02{
    width: 100%;
    height: 100vh;

}
#se02 h3{
  font-size: 120px;
  color: white;
  padding: 30px;

}
#se02 .left{

}
#se02 .left .textcontainor{
  position: relative;
}
#se02 .left .line{
  position: absolute;
  width: 100vw;
  border-top: 1px solid white;
  margin-top: 5%;
}
#se02 .middle{
  text-align: center;
  margin-top: 10%;
}
#se02 .middle h3{
  margin-top: 10%;
}
#se02 .middle .img{
  position: absolute;
  width: 220px;
  height: 220px;
  background-image: url(../img/myimg.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -8%;
  right: 4%;
}
#se02 .middle .line{
  position: absolute;
  width: 100vw;
  border-top: 1px solid white;
  margin-top: 8%;
}
#se02 .middle .textcontainor{
  position: relative;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#se02 .middle .textcontainor .slider{

    margin-left: 1rem;
    font-weight: 700;
    height: 5rem;
} 
#se02 .middle .textcontainor .slider-text {
    height: 5rem;
    padding: 0.2rem;
    margin-bottom: 2.35rem;
    /* background-color: rgba(0, 132, 255, 0.63); */
    text-align: center;
    border-radius: 1rem;
    color: #0025E8;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    font-size: 80px;
  }
  #se02 .middle .textcontainor .slider-text span .pink{
    color: #0025E8;
  
  }
#se02 .middle .textcontainor .slider-text span .pink{
  color: #E32EB0;

}
#se02 .middle .textcontainor .slider-text span .green{
  color: #42FF00;

}
#se02 .middle .textcontainor  .slider-text:first-child {
    animation: slide 5s linear infinite;
  }
  
  @keyframes slide {
    0% {
      margin-top: -300px;
    }
    5% {
      margin-top: -200px;
    }
    33% {
      margin-top: -200px;
    }
    38% {
      margin-top: -100px;
    }
    66% {
      margin-top: -100px;
    }
    71% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0px;
    }
  }
#se02 .right{
  text-align: right;
}
#se02 .right h3{
  margin-top: 17%;
}

#se02 .right .textcontainor{
  position: relative;
}
/* #se02 .right .line{
  position: absolute;
  width: 100vw;
  border-top: 1px solid white;
  margin-top: 7%;
} */

#container {
  /* text-align: center;
  letter-spacing: 10px;
  line-height: 160%;
  color:#FFF;
  text-transform: uppercase;
  font-size:70px;
  font-weight:bold;
  padding-top:200px;   */
  /* position:fixed;
  width:100%;
  bottom:45%; */
  /* display:block; */
}

#se03{
  width: 100%;
  height: 100vh;
}
#se03 .left{
  position: relative;
  margin-left: calc(100vw * 20 / 1920);
  width: calc(100vw * 5 / 1920);
  min-width: 550px;
  height: 100%;
  /* background-color: #E32EB0; */
}
#se03 .left .img{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 30%;
  left: calc(100vw * 85 / 1920);
  background-image: url(../img/myimg2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#se03 .left .line{
  position: absolute;
  width: 0.1px;
  height: 100vh;
  border-right: 1px solid white;
  left: 90%;
}
#se03 .right .textcontainor{
  position: relative;
}
#se03 .right .top p{
  position: absolute;
  color: #FFF;
  line-height: normal;
  font-size: 55px;
  margin-left: 40%;
  margin-top: -48%;
}
#se03 .right .top .shortline{
  display: inline-block;
  width: 250px;
  height: 20px;

  border-bottom: 1px solid white;
}
#se03 .right .line{
  position: absolute;
  right: 2px;
  width: 66.2%;
  border-top: 1px solid white;
  margin-top: -35%;
}
#se03 .right .bottom p{
  position: absolute;
  color: #FFF;
  line-height: 30px;
  font-size: 17px;
  margin-left: 40%;
  margin-top: -30%;


}




#se04{
  width: 100%;
  height: 100vh;

}
#se04 h4{
text-align: center;
color: #FFF;
margin-top: 2%;
font-size: 30px;
}
#se04 main{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1300px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  align-items: center;
}
#se04 main .card{
  position: relative;
  width: 100%;
  height: 400px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#se04 main .card.card-1{
  background-image: url(../img/project1.png);
}
#se04 main .card.card-2{
  background-image: url(../img/project2.png);
}
#se04 main .card.card-3{
  /* background-image: url(../img/project1.png); */
}
#se04 main .card .content{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Readex Pro', sans-serif;
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: transform .3s ease, opacity .3s ease;
  -webkit-transition: transform .3s ease, opacity .3s ease;
  -moz-transition: transform .3s ease, opacity .3s ease;
  -ms-transition: transform .3s ease, opacity .3s ease;
  -o-transition: transform .3s ease, opacity .3s ease;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
}
#se04 main .card .content h5{
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
}
#se04 main .card .content p{
  font-size: 13px;
  line-height: 20px;
}
#se04 main .card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, .16);
}

#se04 main .card:hover .content {
  opacity: 1;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
#se05{
  width: 100%;
  height: 700px;

}
#se05 h4{
text-align: center;
color: #FFF;
margin-top: 2%;
font-size: 30px;
}
#se05 .contact_wrap{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}
#se05 .contact_wrap .img{
  background-image: url(../img/myimg2.png);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
#se05 .contact_wrap .contact_list{
  list-style: none;
  text-decoration: none;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 45%;
  margin-right: 50px;
}
#se05 .contact_wrap .contact_list P
{
  color: #FFF;
  line-height: normal;
  font-size: 50px;
  margin-bottom: 10%;
}
#se05 .contact_wrap .contact_list .shortline{
  display: inline-block;
  width: 250px;
  height: 20px;

  border-bottom: 1px solid white;
}
#se05 .contact_wrap .contact_list li{
  font-size: 14px;
line-height: 30px;
}
#se05 .contact_wrap .contact_list .left {
margin-top: 40px;
  font-size: 20px;


}
#se05 .contact_wrap .contact_list .right {
line-height: normal;
  font-size: 20px;
  margin-top: 20px;


}
#se05 .contact_wrap  .textcontainor{
  position: relative;
  text-transform: uppercase;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  overflow: hidden;

}
#se05 .contact_wrap  .textcontainor .slider{
    /* margin-left: 1rem; */
    font-weight: 700;
    height: 5rem;
} 
#se05 .contact_wrap  .textcontainor .slider-text {
    height: 5rem;
    padding: 1rem;
    margin-bottom: 1rem;

    /* background-color: rgba(0, 132, 255, 0.63); */
    text-align: center;
    border-radius: 1rem;
    color: white;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    font-size: 30px;
  }
  
  #se05 .contact_wrap  .textcontainor  .slider-text:first-child {
    animation: slide 5s linear infinite;
  }


  @keyframes slide {
    0% {
      margin-top: -300px;
    }
    5% {
      margin-top: -200px;
    }
    33% {
      margin-top: -200px;
    }
    38% {
      margin-top: -100px;
    }
    66% {
      margin-top: -100px;
    }
    71% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0px;
    }
  }
footer{
    width: 100%;
    height: 60px;
    background: #333;
}
#footer{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
}
#footer h2{
    color: #ccc;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    left: 50%;
}

/* Variable */
html{--btn-size:35px}
/* Layout */

html{/* min-height:100vh; */
    overflow-x: hidden;
    /* color:#333; */
    font-family:"Noto Sans KR",sans-serif;
    font-size:12px;
    font-weight:400;
    line-height:1.5rem;
  }
.btn-menu{
  display:block;
  background-color: #fff;
  /* position:relative; */
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
  width:var(--btn-size);
  height:var(--btn-size);
  padding:15px;
  cursor:pointer;
  -webkit-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -moz-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -o-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -ms-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955)
}
.btn-menu span{
  display:block;
  position:absolute;
  top:50%;
  width:calc(100% - 30px);
  height:0;
  border-bottom:1px solid #666;
  transform:translateY(-50%);
  -webkit-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -moz-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -o-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -ms-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955)
}
.btn-menu span::before,.btn-menu span::after{
  content:'';
  display:block;
  position:absolute;
  top:0;
  width:100%;
  height:0;
  border-bottom:1px solid #666;
  -webkit-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -moz-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -o-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -ms-transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  transition:border-color 180ms cubic-bezier(0.455,0.030,0.515,0.955)
}
.btn-menu span::before{transform:translateY(-8px)}
.btn-menu span::after{transform:translateY(8px)}
.btn-menu:hover{background-color:#666}
.btn-menu:hover span,.btn-menu:hover span::before,.btn-menu:hover span::after{border-color:#fff}
.side-menu{
  overflow-x:hidden;
  overflow-y:auto;
  position:fixed;
  top:0;
  left:0;
  /* width:250px; */
  width: 100%;
  height:100vh;
  z-index: 100000;
  background-color:black;
  box-shadow:1px 0 2px rgba(0,0,0,0.15);
  -webkit-transform:translateX(-100%);
  -moz-transform:translateX(-100%);
  -o-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
  transform:translateX(-100%);
  -webkit-transition:-webkit-transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);
  -moz-transition:-moz-transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);
  -o-transition:-o-transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);
  -ms-transition:-ms-transform 400ms cubic-bezier(0.455,0.030,0.515,0.955);
  transition:transform 400ms cubic-bezier(0.455,0.030,0.515,0.955)
}
.side-menu.open{transform:translateX(0)}
.side-menu ul{margin:0;padding:0;margin-top:70px;padding-left:40px;list-style:none}
.side-menu li + li{padding-top:15px}
.side-menu li a{display:inline-block;
  position:relative;
  vertical-align:top;
  color:white;
  text-decoration:none;
  font-size:40px;
  font-weight:700;
  margin-top: 3%;
  letter-spacing:10px;
  line-height:120px;
  opacity:0;
  transform:translateX(20px);
}
.side-menu li a span{display:inline-block;position:relative;vertical-align:top}
.side-menu li a span::after{
  content:'';
  display:block;
  position:absolute;
  z-index:-1;
  bottom:20px;
  left:0;
  width:0;
  height:0;
  /* border-bottom:30px solid #0025E8; */
  -webkit-transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940);
  -moz-transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940);
  -o-transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940);
  -ms-transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940);
  transition:width 280ms cubic-bezier(0.250,0.460,0.450,0.940)}
.side-menu .blue span::after{
    border-bottom:15px solid #0025E8;
  }
.side-menu .pink span::after{
  border-bottom:15px solid #FF00B8;
}
.side-menu .green span::after{
  border-bottom:15px solid #42FF00;
}
.side-menu .yellow span::after{
  border-bottom:15px solid #DBFF00;
}

.side-menu li a:hover span::after{width:100%}
.btn-close{
  background-color: #FFF;
}

.side-menu .btn-close{overflow:hidden;
  display:block;
  position:absolute;
  top:0;
  right:0;
  width:var(--btn-size);
  height:var(--btn-size);
  padding:15px;
  cursor:pointer;
  -webkit-transform:translateX(100%) rotate(45deg);
  -moz-transform:translateX(100%) rotate(45deg);
  -o-transform:translateX(100%) rotate(45deg);
  -ms-transform:translateX(100%) rotate(45deg);
  transform:translateX(100%) rotate(45deg);
  -webkit-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),-webkit-transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955);
  -moz-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),-moz-transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955);
  -o-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),-o-transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955);
  -ms-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),-ms-transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955);
  transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955),transform 250ms 400ms cubic-bezier(0.455,0.030,0.515,0.955)}
.side-menu.open .btn-close{transform:translateX(0) rotate(0deg)}
.side-menu .btn-close span{overflow:hidden;display:block;position:relative;width:100%;height:100%}
.side-menu .btn-close span::before,.side-menu .btn-close span::after{
  content: '';
  display:block;
  position:absolute;
  height:1px;
  width:200%;
  top:50%;
  left:-50%;
  background-color:#222;
  -webkit-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -moz-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -o-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  -ms-transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955);
  transition:background-color 180ms cubic-bezier(0.455,0.030,0.515,0.955)}
.side-menu .btn-close span::before{
  -webkit-transform:translateY(-50%) rotate(45deg);
  -moz-transform:translateY(-50%) rotate(45deg);
  -ms-transform:translateY(-50%) rotate(45deg);
  -o-transform:translateY(-50%) rotate(45deg);
  transform:translateY(-50%) rotate(45deg)}
.side-menu .btn-close span::after{
  -webkit-transform:translateY(-50%) rotate(-45deg);
  -moz-transform:translateY(-50%) rotate(-45deg);
  -ms-transform:translateY(-50%) rotate(-45deg);
  -o-transform:translateY(-50%) rotate(-45deg);
  transform:translateY(-50%) rotate(-45deg)}    
.side-menu .btn-close:hover{background-color:#222}
.side-menu .btn-close:hover span::before,.side-menu .btn-close:hover span::after{background-color:#fff} 
.side-menu li.ani > a{opacity:1.0;transform:translateX(0);animation:menuAni 250ms cubic-bezier(0.455,0.030,0.515,0.955)}



/* Animations */

@keyframes menuAni{
    0%{opacity:0;transform:translateX(20px)}
    100%{opacity:1.0;transform:translateX(0)}
}
@keyframes glitch {
    0% {
      text-shadow: 3px 0 0 #E32EB0, -3px 0 0 blue;
    }
    1% {
      text-shadow: 3px 0 0 #E32EB0, -3px 0 0 blue;
    }
    2% {
      text-shadow: 3px 0 0 #E32EB0, -3px 0 0 blue;
    }
    3% {
      text-shadow: 3px  0 #E32EB0, -1px 0 0 blue;
    }
    4% {
      text-shadow: 3px 0 0 #E32EB0, -1px 0 0 blue;
    }
    5% {
      text-shadow: 3px 0 0 #E32EB0, 1px 0 0 blue;
    }
    6% {
      text-shadow: 3px 0 0 #E32EB0, 1px 0 0 blue;
    }
    7% {
      text-shadow: 3px 0 0 #E32EB0, 1px 0 0 blue;
    }
    8% {
      text-shadow: 3px 0 0 #E32EB0, 1px 0 0 blue;
    }
    9% {
      text-shadow: 3px 0 0 #E32EB0, 1px 0 0 blue;
    }
    10% {
      text-shadow: 3px 0 0 #E32EB0, 1px 0 0 blue;
    }
    11% {
      text-shadow: 1px 0 0 #E32EB0, -1px 0 0 #94FCB1;
    }
    12% {
      text-shadow: 1px 0 0 red, -1px 0 0 #94FCB1;
    }
    13% {
      text-shadow: 1px 0 0 red, -1px 0 0 #94FCB1;
    }
    14% {
      text-shadow: 1px 0 0 red, -1px 0 0 #94FCB1;
    }
    15% {
      text-shadow: 1px 0 0 red, -1px 0 0 #94FCB1;
    }
    16% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    17% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    18% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    19% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    20% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    21% {
      text-shadow: 1px 0 0 blue, 1px 0 0 lime;
    }
    22% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    23% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    24% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    25% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    26% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    27% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    28% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    29% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    30% {
      text-shadow: 0.5px 0 0 blue, -0.5px 0 0 lime;
    }
    31% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    32% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    33% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    34% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    35% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    36% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    37% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    38% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    39% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    40% {
      text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    41% {
      text-shadow: 50px 0 0 blue, -50px 0 0 lime;
    }
    42% {
      text-shadow: 0 0 0 blue, 0 0 0 lime;
    }
    43% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    44% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    45% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    46% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    47% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    48% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    49% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    50% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    51% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    52% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    53% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    54% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    55% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    56% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    57% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    58% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    59% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    60% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    61% {
      text-shadow: 30px 0 0 red, -30px 0 0 lime;
    }
    62% {
      text-shadow: 0 0 0 red, 0 0 0 lime;
    }
    63% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
    }
    64% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
    }
    65% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
    }
    66% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
    }
    67% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    68% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    69% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    70% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    71% {
      text-shadow: 70px 0 0 red, -70px 0 0 blue;
    }
    72% {
      text-shadow: 0 0 0 red, 0 0 0 blue;
    }
    73% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    74% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    75% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    76% {
      text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    77% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    78% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    79% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    80% {
      text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    81% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    82% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    83% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    84% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    85% {
      text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    86% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    87% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    88% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    89% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    90% {
      text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    91% {
      text-shadow: 60px 0 0 lime, -60px 0 0 blue;
    }
    92% {
      text-shadow: 0 0 0 lime, 0 0 0 blue;
    }
    92% {
      text-shadow: 0.7px 0 0 blue, -0.7px 0 0 #E32EB0;
    }
    93% {
      text-shadow: 0.7px 0 0 blue, -0.7px 0 0 #E32EB0;
    }
    94% {
      text-shadow: 0.7px 0 0 blue, -0.7px 0 0 #E32EB0;
    }
    95% {
      text-shadow: 0.7px 0 0 blue, -0.7px 0 0 #E32EB0;
    }
    96% {
      text-shadow: -5px 0 0 blue, 5px 0 0 #E32EB0;
    }
    97% {
      text-shadow: -5px 0 0 blue, 5px 0 0 #E32EB0;
    }
    98% {
      text-shadow: -5px 0 0 blue, 5px 0 0 #E32EB0;
    }
    99% {
      text-shadow: -5px 0 0 blue, 5px 0 0 #E32EB0;
    }
    100% {
      text-shadow: -5px 0 0 blue, 5px 0 0 #E32EB0;
    }
  }
  /* Animations */
@keyframes colorText{
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
} 

@keyframes nudgeText {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(2px);
  }
  30%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(2px);
  }
  60%{
    transform: translateY(0);
  }
  80%{
    transform: translateY(2px);
  }
  90%{
    transform: translateY(0);
  }
}